
/*----- google fonts 
font-family: 'Mali', cursive;
font-family: 'Lobster', cursive;
-----*/

/*------------------------------------- font added */

@font-face {
    font-family: "Old London";
    src: url("./Assets/fonts/OldLondon.ttf");
    }

/*--------------------------------------- Colors */

.bg-color-link-home{
    background-color: #700d0d;
}

.bg-color-link-players{
    background-color: #433ba5;
}

.bg-color-link-characters{
    background-color: #23752c;
}

.bg-color-link-subscribe{
    background-color: #86268e;
}

/* ----------------------------------------------- fonts */

h1,h2,h3,h4,h5,h6{
    font-family: 'Old London', cursive;
}

/* ----------------------------------------------- Header */

header {
    margin: 0;
    padding: 0;
}

.header-logo {
    background-color: #737070;
    height:300px;
}

.header-logo-image{
    background: url("./Assets/images/title-header.png");
    background-repeat: no-repeat;
    background-size: contain; 
    padding:0;
    height: 300px; 
    background-position: center;
}

.nav-item{
    height:150px;
    text-align: center;
    padding:0;
    margin:0;
}

.nav-item a{
    text-decoration: none;
    color: #ffffff;
    height: 150px;
    margin:0;
}

.nav-item a i{
    padding-top: 32px;
    display: block;
    color: #ffffff;
    font-size: 35px;
    padding-bottom: 53px;
}

.nav-item span{
    display:block;
    font-size: 35px;
    padding-top:12px;
    font-family: 'old london', cursive;
}

/*--------------------------------------------- footer*/

footer{
    position:fixed;
    bottom:0;
    left: 0;
    right:0;
    height: 75px;
    background-color: #737070;
}

.copyright{
    font-family: 'mali', cursive;
    color: #ffffff;
    font-size: 10pt;
}

.footer-group-image{
    background: url("./Assets/images/the-group.png");
    background-repeat: no-repeat;
    background-size: contain; 
    padding:0;
    height: 75px; 
    background-position: center;
}

.footer-social-links {
    font-family: 'old london', cursive;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
}

.footer-social-links i{
    font-size: 15pt;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 5px;
}


/* -------------------------------------------- main & aside */

.section-title h2 {
    text-align: center;
    font-size: 30pt;

}

main{
    margin-bottom: 75px;
    background-color: #f4f7c34f;
    color: #000000;
}

/* -------------------------------------------- index main & aside*/

.aside-timeline {
    background-color: #700d0d;
}

.index-main{
    background-image: url("./Assets/images/trinity-transparent.png");
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: center;
}

.index-main h3{
    text-align: center;
    font-size: 24pt;
}

.index-main h4{
    font-size: 20pt;
}

.index-main p{
    font-family: 'mali', cursive;
    padding-left: 10px;
    Padding-right: 10px;
    font-size: 18pt;
}

.index-timeline-item{
    color: #f8f413bd
}

.index-timeline-item h4{
    color: #ffffff88;
}

.index-timeline-item p{
    color: #ffffff;
    font-family: 'mali', cursive;
}
/* -------------------------------------------- bootstrap fixes */

.list-inline-item:not(:last-child){
    margin:0;
}

.container-fluid{
    padding-left: 0;
    padding-right:0;
}

.list-inline-block{
    padding-inline-start: 0;
    margin-bottom: 0px
}

/* ------------------------------------------- hover.css fixes */

.hvr-radial-out:before{
    background-color: #FFFFFF70;
}