
/*----- google fonts 
font-family: 'Mali', cursive;
font-family: 'Lobster', cursive;
-----*/

/*--------------------------------------- Colors */

.bg-color-link-home{
    background-color: #700d0d;
}

.bg-color-link-players{
    background-color: rgb(136, 127, 255)
}

.bg-color-link-characters{
    background-color: #ff303f;
}

.bg-color-link-subscribe{
    background-color: #7d5bbe;
}

/* ----------------------------------------------- Header */

header {
    margin: 0;
    padding: 0;
}

.header-logo {
    background-color: #afafaf;
    height:300px;
}

.header-logo-image{
    background: url("./Assets/images/title-header.png");
    background-repeat: no-repeat;
    background-size: contain; 
    padding:0;
    height: 300px; 
    background-position: center;
}

.nav-item{
    height:150px;
    text-align: center;
    padding:0;
    margin:0;
}

.nav-item a{
    text-decoration: none;
    color: #ffffff;
    height: 150px;
    margin:0;
}

.nav-item a i{
    padding-top: 32px;
    display: block;
    color: #ffffff;
    font-size: 35px;
    padding-bottom: 53px;
}

.nav-item span{
    display:block;
    font-size: 18px;
    widows: 100%;
    padding-top:12px;
    font-family: 'mali', cursive;
}

/*--------------------------------------------- footer*/

footer{
    position:fixed;
    bottom:0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: rgb(107, 102, 102);
}

.copyright{
    font-family: 'mali', cursive;
    color: #ffffff;
    font-size: 10pt;
}

.footer-group-image{
    background: url("./Assets/images/the-group.png");
    background-repeat: no-repeat;
    background-size: contain; 
    padding:0;
    height: 75px; 
    background-position: center;
}

.footer-social-links {
    font-family: 'lobster', cursive;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
}

.footer-social-links i{
    font-size: 15pt;
    text-decoration: none;
    color: #ffffff
}

/* -------------------------------------------- bootstrap fixes */

.list-inline-item:not(:last-child){
    margin:0;
}

.container-fluid{
    padding-left: 0;
    padding-right:0;
}

ul{
    padding-inline-start: 0;
}

/* ------------------------------------------- hover.css fixes */

.hvr-radial-out:before{
    background-color: #FFFFFF70;
}